body
{
	background-image: url('nodice.jpeg');
}

p.default
{
	font-size: 64px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Serif;
	color: black;
	display: block;
}

p.mobile
{
	font-size: 64px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Serif;
	color: black;
	display: none;
}